<!-- Footer -->
<footer class="clapat-footer hidden">
    <div id="footer-container">
        <div id="backtotop" class="button-wrap left">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <i class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <!--<div class="button-text sticky left"><span data-hover="Retour en haut">Retour en haut</span></div>-->
        </div>
        <div class="footer-middle">
            <div class="copyright" style="font-size: 12px;">
                2026 © <a class="link" target="_self" href="/">FAIRE Architecte</a>. 
                Tous droits réservés. 
                <a class="link" target="_self" href="/politique-de-confidentialite">Politique de confidentialité</a></div>
        </div>
        <div class="socials-wrap" style="font-size: 12px;">
            <div class="socials-icon"><i class="fa-solid fa-share-nodes"></i></div>
            <div class="socials-text">Suivez-moi</div>
            <ul class="socials" style="font-size: 16px;">
                <li>
                    <span class="parallax-wrap">
                        <a class="parallax-element" href="https://www.instagram.com/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="parallax-wrap">
                        <a class="parallax-element" href="https://www.linkedin.com/" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="parallax-wrap">
                        <a class="parallax-element" href="https://www.facebook.com/" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!--/Footer -->