<!-- Header -->
<header class="clapat-header classic-menu invert-header" data-menucolor="#0c0c0c">

    <!-- Gradient -->
    <div class="header-gradient"></div>
    <!--/Gradient -->

    <div id="header-container">

        <!-- Logo -->
        <div id="clapat-logo" class="hide-ball">
            <a class="ajax-link" href="/">
                <img class="black-logo" src="/assets/images/FAIRE_LOGO_2026_simple-v2.webp" width="600" height="181" fetchpriority=high alt="FAIRE Architecte – Retour à l'accueil">
                <img class="white-logo" src="/assets/images/FAIRE_LOGO_2026_simple-v2.webp" width="600" height="181" fetchpriority=high alt="FAIRE Architecte – Retour à l'accueil">
            </a>
        </div>
        <!--/Logo -->

        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
        {%- assign page_titles = site.pages | map: 'title' | compact %}

        <!-- Navigation -->
        {%- unless page_titles == empty %}
        <nav class="clapat-nav-wrapper">
            <div class="nav-height">

                {% include nav-items.html %}

            </div>
        </nav>
        {%- endunless %}
        <!--/Navigation -->


        <!-- Header Button -->
        <!--<a class="header-button ajax-link" data-type="page-transition" href="/contact.html">
            <div class="button-icon-link right">
                <div class="icon-wrap-scale">
                    <div class="icon-wrap parallax-wrap">
                        <div class="button-icon parallax-element">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" style="width:14px;height:14px;fill:currentColor;vertical-align:middle;" aria-hidden="true"><path d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z"/></svg>
                        </div>
                    </div>
                </div>
                <div class="button-text sticky right"><span data-hover="Contact">Contact</span></div>
            </div>
        </a> -->
        <!--/Header Button -->


        <!-- Menu Burger -->
        <div class="button-wrap right menu burger-lines">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <div id="burger-wrapper">
                        <div id="menu-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="button-text sticky right"><span data-hover="Menu">Menu</span></div>-->
        </div>
        <!--/Menu Burger -->

    </div>
</header>
<!--/Header -->