<div class="cd-cover-layer"></div>
<!--<div id="magic-cursor">
        <div id="ball">
        	<div id="ball-drag-x"></div>
            <div id="ball-drag-y"></div>
        	<div id="ball-loader"></div>
        </div>
    </div>-->
<div id="clone-image">
    <div class="hero-translate"></div>
</div>
<div id="rotate-device"></div>

<script type="text/plain" data-cookie-consent="functional" src="/assets/js/jquery.min.js"></script>
<script type="text/plain" data-cookie-consent="functional" src="/assets/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script type="text/plain" data-cookie-consent="functional" src="/assets/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
<script type="text/plain" data-cookie-consent="functional" src="/assets/ajax/libs/gsap/3.11.4/Flip.min.js"></script>
<script type="text/plain" data-cookie-consent="functional" src='/assets/ajax/libs/three.js/r128/three.min.js'></script>
<script type="text/plain" data-cookie-consent="functional" src='/assets/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js'></script>
<script type="text/plain" data-cookie-consent="functional" src='/assets/ajax/libs/smooth-scrollbar/8.4.0/smooth-scrollbar.js'></script>
<script type="text/plain" data-cookie-consent="functional"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpK1sWi3J3EbUOkF_K4-UHzi285HyFX5M&loading=async"></script>

<script type="text/plain" data-cookie-consent="functional" src="/assets/js/clapat.js"></script>
<script type="text/plain" data-cookie-consent="functional" src="/assets/js/plugins.js"></script>

<script type="text/plain" data-cookie-consent="functional" src="/assets/js/common.js"></script>
<script type="text/plain" data-cookie-consent="functional" src="/assets/js/contact.js"></script>
<script type="text/plain" data-cookie-consent="functional" src="/assets/js/scripts.js"></script>