/*--------------------------------------------------
	Page Navigation
---------------------------------------------------*/

		#page-nav {
			height: auto;
			width: 100%;
			color: #000;
			position: relative;
			margin-bottom: 0;
			opacity: 0;
			overflow: hidden;
		}

		.page-nav-wrap {
			position: relative;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
			transform: translateY(0px);
			-webkit-transform: translateY(0px);
		}

		.page-nav-caption {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			margin: 0 auto;
			padding-top: 120px;
			padding-bottom: 0px;
			margin: 0 auto;
			height: calc(100vh - 120px);
			top: -20%;
			opacity: 0;
			position: relative;
			box-sizing: border-box;
		}

		.page-nav-caption.text-align-center {
			justify-content: center;
			text-align: center;
		}

		.page-nav-caption.text-align-right {
			justify-content: flex-end;
			text-align: right;
		}

		#page-nav .inner {
			display: block;
			width: auto;
			height: auto;
			margin-top: 60px;
			margin-bottom: 100px;
		}

		.next-hero-title {
			font-size: calc(1rem + 12vw);
			line-height: calc(1rem + 14vw);
			font-weight: 600;
			position: relative;
			display: block;
			width: auto;
			color: #000;
			margin-bottom: 0px;
			letter-spacing: -0.4vw;
			padding-bottom: 1vw;
		}

		.light-content .next-hero-title {
			color: #fff;
		}

		.next-hero-title::before {
			content: attr(data-infoTextBefore);
			font-size: 16px;
			line-height: 20px;
			font-weight: 400;
			width: auto;
			height: 20px;
			position: absolute;
			-webkit-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
			letter-spacing: 0;
			opacity: 0.6;
			pointer-events: none;
			left: 0;
			top: -20px;
			width: 100%;
			text-align: center;
		}

		.next-hero-title::after {
			content: attr(data-infoTextAfter);
			font-size: 12px;
			line-height: 16px;
			font-weight: 400;
			width: auto;
			max-width: 100%;
			height: auto;
			position: absolute;
			right: 0;
			bottom: -20px;
			top: auto;
			-webkit-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
			letter-spacing: 0;
			opacity: 0.6;
			pointer-events: none;
		}

		.show-loader .next-hero-title::before {
			opacity: 0;
			left: -150px;
		}

		.show-loader .next-hero-title::after {
			opacity: 0;
			right: -150px;
		}

		.next-hero-title span {
			display: block;
		}

		.next-hero-subtitle {
			font-size: 24px;
			line-height: 32px;
			font-weight: 400;
			position: relative;
			display: block;
			overflow: hidden;
			color: #000;
			margin-top: 40px;
			opacity: 0.6;
		}

		.light-content .next-hero-subtitle {
			color: #fff;
		}

		.next-hero-subtitle span {
			display: block;
		}


/*--------------------------------------------------
	Project Page Navigation
---------------------------------------------------*/

		#project-nav {
			height: 100vh;
			width: 100%;
			color: #fff;
			position: absolute;
			margin-bottom: 0;
			bottom: -100vh;
			overflow: hidden;
		}

		#project-nav.pinned-nav-caption {
			height: 200vh;
			bottom: -200vh;
		}

		.next-project-wrap {
			width: 100%;
			margin: 0 auto;
			height: 100%;
			position: absolute;
			box-sizing: border-box;
			opacity: 1;
			z-index: 10;
		}

		#project-nav.pinned-nav-caption .next-project-wrap {
			height: 50%;
		}

		/* Next Project Hero Image */

		.next-project-image-wrapper {
			position: relative;
			width: 100vw;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 1;
			overflow: hidden;
		}

		.next-project-image-wrapper.temporary {
			position: fixed;
		}

		.next-project-image-wrapper.active {
			opacity: 1;
		}

		.next-project-image {
			position: absolute;
			opacity: 1;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 100%;
			width: 100%;
		}

		#project-nav .next-project-image-effects {
			top: -2%;
			-webkit-transform: scale(1.04);
			transform: scale(1.04);
			filter: blur(3px);
		}

		.load-project-thumb-with-title .next-project-image {
			z-index: 10;
		}

		.next-project-image.temporary {
			top: 0px !important;
		}

		.next-project-image.visible {
			opacity: 1 !important;
			top: 0px !important;
			filter: blur(0px) !important;
			-webkit-transform: scale(1.02) rotate(0) translateY(0) !important;
			transform: scale(1.02) rotate(0) translateY(0) !important;
		}

		.next-project-image-bg {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			z-index: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		.next-project-image.visible .next-project-image-bg {
			opacity: 1 !important;
			top: 0 !important;
		}

		/* Next Project Caption */

		#next-project-caption {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: left;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.hero-below-caption #next-project-caption {
			height: auto;
			padding-top: 280px;
			padding-bottom: 160px;
		}

		.next-caption-wrapper {
			position: relative;
			z-index: 10;
			top: 0%;
			opacity: 1;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
		}

		#project-nav .next-ajax-link-project {
			display: block;
			margin: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			pointer-events: none;
		}

		#project-nav.auto-trigger .next-ajax-link-project {
			pointer-events: none;
		}

		#project-nav.active-link .next-ajax-link-project {
			pointer-events: initial;
		}

		.disable-ajaxload #project-nav.auto-trigger .next-ajax-link-project {
			pointer-events: initial;
		}

		.next-caption {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
		}

		.next-caption .next-hero-title {
			font-size: calc(1rem + 6vw);
			line-height: calc(1rem + 7vw);
			letter-spacing: -0.2vw;
			flex: 0 1 60%;
			max-width: 60%;
			text-align: left;
		}

		#project-nav .next-hero-title div {
			position: relative;
			display: block;
			overflow: hidden;
			mask-image: linear-gradient(#0003, black 5%, black 95%, #0003 100%);
			-webkit-mask-image: linear-gradient(#0003, black 5%, black 95%, #0003 100%);
		}

		#project-nav .next-hero-title span {
			opacity: 1;
		}

		#project-nav .next-hero-subtitle {
			display: flex;
			justify-content: flex-end;
		}

		#project-nav .next-hero-subtitle span {
			display: block;
			width: auto;
			-webkit-text-fill-color: rgba(0, 0, 0, 0.2);
			-webkit-background-clip: text;
			background-repeat: no-repeat;
			background-image: linear-gradient(currentColor, currentColor);
			background-size: 0% 100%;
		}

		.light-content #project-nav .next-hero-subtitle span {
			-webkit-text-fill-color: rgba(255, 255, 255, 0.2);
		}

		.temporary-hero .next-hero-title span {
			opacity: 1 !important;
			-webkit-transform: translateY(0%) !important;
			transform: translateY(0%) !important;
		}

		.next-caption .next-hero-subtitle {
			flex: 0 1 40%;
			max-width: 40%;
			text-align: right;
		}

		/* Next Hero Title and Subtitle Color */

		#project-nav .next-hero-title,
		#project-nav .next-hero-subtitle {
			color: #000;
		}

		.light-content #project-nav .next-hero-title,
		.light-content #project-nav .next-hero-subtitle {
			color: #fff;
		}

		/* Next Project Counter */

		.next-hero-counter {
			position: absolute;
			height: 20px;
			width: 30px;
			text-align: right;
			top: 6px;
			right: -45px;
			overflow: hidden;
			opacity: 1;
			color: #000;
		}

		.next-hero-counter span {
			position: absolute;
			display: block;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
		}

		.change-header .next-hero-counter {
			color: #000;
		}

		.light-content .next-hero-counter {
			color: #fff;
		}

		.light-content .change-header .next-hero-counter {
			color: #000;
		}

		.dark-content .change-header .next-hero-counter {
			color: #fff;
		}

		/* Next Project Progress Bar */

		.next-hero-progress {
			position: absolute;
			top: 0;
			right: 0;
			height: 6px;
			width: 100%;
			z-index: 100;
			display: flex;
			justify-content: center;
			display: none;
		}

		.next-hero-progress span {
			position: absolute;
			height: 6px;
			width: 0;
			background-color: #000;
		}

		.change-header .next-hero-progress span {
			background-color: #000;
		}

		.light-content .next-hero-progress span {
			background-color: #fff;
		}

		.light-content .change-header .next-hero-progress span {
			background-color: #000;
		}

		.dark-content .change-header .next-hero-progress span {
			background-color: #fff;
		}

		/* Next Project All Works Button */

		.all-works {
			position: absolute;
			top: 20px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			width: auto;
			margin: 0 auto;
			margin-top: 25px;
			display: table;
			z-index: 100;
		}

		.all-works span,
		.all-works span::before {
			padding: 0 5px;
		}

		#project-nav.change-header .all-works,
		#project-nav.change-header .all-works .link-text {
			color: #000;
		}

		.light-content #project-nav .all-works,
		.light-content #project-nav .all-works .link-text {
			color: #fff;
		}

		.light-content #project-nav.change-header .all-works,
		.light-content #project-nav.change-header .all-works .link-text {
			color: #000;
		}

		.dark-content #project-nav.change-header .all-works,
		.dark-content #project-nav.change-header .all-works .link-text {
			color: #fff;
		}


/*--------------------------------------------------
	Temporary Hero
---------------------------------------------------*/

		.temporary-hero {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 99999;
			pointer-events: none;
			z-index: 10;
		}

		.temporary-hero .outer {
			width: 100%;
			padding-top: 40px;
			padding-bottom: 40px;
			height: 100%;
			position: relative;
			margin: 0 auto;
			box-sizing: border-box;
			z-index: 10;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.hero-below-caption .temporary-hero .outer {
			height: auto;
			padding-top: 280px;
			padding-bottom: 160px;
		}

		.temporary-hero .outer.text-align-center {
			justify-content: center;
			text-align: center;
		}

		.temporary-hero .outer.text-align-right {
			justify-content: flex-end;
			text-align: right;
		}

		.temporary-hero .inner {
			display: block;
			width: 100%;
			height: 100%;
		}

		.temporary-hero .inner .next-caption {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
		}

		.temporary-hero .inner .next-caption .next-hero-title {
			font-size: calc(1rem + 6vw);
			line-height: calc(1rem + 7vw);
			letter-spacing: -0.2vw;
		}
