---
layout: base
---
<!-- Main Content -->
<div id="main-content">
    <!-- Hero Section -->
    <div id="hero">
        <div id="hero-styles">
            <div id="hero-caption" class="content-full-width parallax-scroll-caption text-align-center hero-full-caption">
                <div class="inner">
                    <h1 class="hero-title caption-timeline generate-spans" data-infoTextBefore=""
                        data-infoTextAfter="">
                        <div class="blue-color"><span>Portfolio</span></div>
                    </h1>
                </div>
            </div>
            <div id="hero-footer" class="has-border">
                <div class="hero-footer-left">
                    <div class="button-wrap left scroll-down">
                        <div class="icon-wrap parallax-wrap">
                            <div class="button-icon parallax-element">
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-footer-right">
                    <div class="button-wrap right show-filters">
                        <div class="icon-wrap parallax-wrap">
                            <div class="button-icon parallax-element">
                                <i class="fa-solid fa-sort"></i>
                            </div>
                        </div>
                        <div class="button-text sticky right"><span data-close="Voir les catégories" data-hover="Voir les catégories">Voir les catégories</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Hero Section -->
    <!-- Main Page Content -->
    <div id="main-page-content">
        <!-- Fit Thumb Screen Effects -->
        <div id="itemsWrapperLinks">
            <div id="itemsWrapper" class="webgl-fitthumbs fx-one">
                <div id="filters-gradient">
                    <ul id="filters" class="filters-options-wrapper">
                        <li class="filters-timeline link">
                            <a id="all" class="filter-option is_active" href="#" data-filter="">
                                <span>Tous les projets</span>
                            </a>
                        </li>
                        {% for sitecategory in site.categories %}
                        {% assign category_slug = sitecategory | first | slugify: 'latin' %}
                        {% assign category_label = sitecategory | first %}
                          <li class="filters-timeline link">
                            <a class="filter-option2"
                                href="/portfolio/{{ category_slug }}">{{ category_label }}, </a>
                          </li>
                          
                        {% endfor %}
                    </ul>
                </div>
                {%- if site.posts.size > 0 -%}
                <!-- ClaPat Portfolio -->
                <div class="showcase-portfolio expand-grid">
                    {%- assign date_format = site.minima.date_format | default: "%Y" -%}
                    {% assign page_categories = page.categories | first %}
                    {%- for post in site.posts -%}
                        {% assign url = post.url %}
                        {% assign title = post.title %}
                        {% assign thumbnailback = post.thumbnailback %}
                        {% assign thumbnailbackalt = post.thumbnailback-alt %}
                        {% assign thumbnailfront = post.thumbnailfront %}
                        {% assign thumbnailfrontalt = post.thumbnailfront-alt %}
                        <div class="clapat-item photo-filter">
                            <div class="slide-inner trigger-item" data-centerline="OPEN">                                                    
                                <div class="img-mask pixels-cover-disabled">
                                    <a class="slide-link" href="{{ url | relative_url }}" aria-label="{{ thumbnailfront-alt | default: title }}"></a>
                                    <div class="section-image trigger-item-link">
                                        {% include img.html
                                            path=thumbnailback
                                            alt=thumbnailbackalt
                                            class="item-image grid__item-img"
                                            style=""
                                            loading="lazy" %}
                                    </div>                                                
                                    {% include img.html
                                        path=thumbnailback
                                        alt=thumbnailbackalt
                                        class="grid__item-img grid__item-img--large"
                                        style=""
                                        loading="lazy" %}
                                    <div class="section-thumb">
                                        <img src="{{ thumbnailfront }}" alt="{{ thumbnailfrontalt | escape }}">
                                        {% include img.html
                                            path=thumbnailfront
                                            alt=thumbnailfrontalt
                                            class=""
                                            style=""
                                            loading="lazy" %}
                                    </div>                              
                                </div>
                                <div class="slide-caption trigger-item-link-secondary">
                                    <div class="slide-title secondary-font">
                                        <span>{{ post.title | escape }}</span>
                                    </div>                                                    
                                    <div class="slide-date">
                                        <span>{{ post.date | date: date_format }}</span>
                                    </div>
                                    <div class="slide-cat secondary-font">
                                        <span >{{ post.categories }}</span>
                                    </div>                                             
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
                {%- endif -%}
                <!-- ClaPat Portfolio -->
            </div>                                                           
        </div>    
        <!-- Fit Thumb Screen Effects -->
    </div>
    <!--/Main Page Content -->
    <!-- Page Navigation --> 
    <div id="page-nav" class="move-nav-onload">
        <div class="page-nav-wrap">
            <div class="page-nav-caption nav-full-caption content-full-width text-align-center">                                 
                <div class="inner">
                    <a class="next-ajax-link-page" data-centerline="GO TO" href="/contact">
                        <div class="next-hero-title caption-timeline red-color red-color-hover " data-infoTextBefore="Page suivante" data-infoTextAfter="Cliquez pour me parler de votre projet via mon formulaire de contact" >
                            Contact
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </a>                                   
                </div>               
            </div>
        </div>
    </div>      
    <!--/Page Navigation -->
</div>
<!--/Main Content -->