---
layout: base
---

<!-- Hero Section -->
<div id="hero" class="has-image autoscroll">
    <div id="hero-styles">
        <div id="hero-caption" class="content-full-width parallax-scroll-caption">

            <div class="inner">
                <h1 class="hero-title caption-timeline"><span>{{ page.title }}</span></h1>
                <div class="hero-subtitle caption-timeline onload-shuffle">
                </div>
            </div>

            <div id="hero-footer" class="">
                <div class="hero-footer-left">
                    <div class="button-wrap left scroll-down">
                        <div class="icon-wrap parallax-wrap">
                            <div class="button-icon parallax-element">
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>
                        </div>
                        <!--<div class="button-text sticky left"><span data-hover="Scroller pour Explorer">Scroller pour Explorer</span></div>-->
                    </div>
                </div>
                <div class="hero-footer-right">
                    <!--<div id="share" class="page-action-content" data-text="Partager:"></div>-->
                </div>
            </div>

        </div>
    </div>
</div>
<div id="hero-image-wrapper" class="change-header-color hero-pixels-cover-disabled parallax-scroll-image">
    <div id="hero-background-layer" class="parallax-scroll-image">
        <div id="hero-bg-image" class="hero-bg-image" style="background-image:url('{{ page.thumbnailback }}')">
            <div style="position:absolute; bottom: 0; right:0; width:50%; max-width: 550px;height:auto; background-color: rgba(0,0,0,0.3); padding:25px; margin-bottom: 150px; border-radius: 5px;">
                <div style="">
                    <h2 style="color:#fff; font-size:1.5rem; margin-bottom:5px;">Détails du projet</h2>
                    <p style="color:#fff; font-size:1rem; margin:0; display: inline-flex; width: 100%;"><span style="width: 50%; text-align: left;">{{ page.detail1a }}</span>{% if page.detail1a != ""  %} // {% endif %}<span style="width: 50%; text-align: right;">{{ page.detail1b }}</span></p>
                    <p style="color:#fff; font-size:1rem; margin:0; display: inline-flex; width: 100%;"><span style="width: 50%; text-align: left;">{{ page.detail2a }}</span>{% if page.detail2a != ""  %} // {% endif %}<span style="width: 50%; text-align: right;">{{ page.detail2b }}</span></p>
                    <p style="color:#fff; font-size:1rem; margin:0; display: inline-flex; width: 100%;"><span style="width: 50%; text-align: left;">{{ page.detail3a }}</span>{% if page.detail3a != ""  %} // {% endif %}<span style="width: 50%; text-align: right;">{{ page.detail3b }}</span></p>
                    <p style="color:#fff; font-size:1rem; margin:0; display: inline-flex; width: 100%;"><span style="width: 50%; text-align: left;">{{ page.detail4a }}</span>{% if page.detail4a != ""  %} // {% endif %}<span style="width: 50%; text-align: right;">{{ page.detail4b }}</span></p>
                    <p style="color:#fff; font-size:1rem; margin:0; display: inline-flex; width: 100%;"><span style="width: 50%; text-align: left;">{{ page.detail5a }}</span>{% if page.detail5a != ""  %} // {% endif %}<span style="width: 50%; text-align: right;">{{ page.detail5b }}</span></p>
                    <p style="color:#fff; font-size:1rem; margin:0; display: inline-flex; width: 100%;"><span style="width: 50%; text-align: left;">{{ page.detail6a }}</span>{% if page.detail6a != ""  %} // {% endif %}<span style="width: 50%; text-align: right;">{{ page.detail6b }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Hero Section -->
<!-- Main Content -->
<div id="main-content">
    {{ content }}

    <!-- Page Navigation --> 
    <div id="page-nav" class="move-nav-onloadx">
        <div class="page-nav-wrap">
            <div class="page-nav-caption nav-full-caption content-full-width text-align-center">                                 
                <div class="inner">
                    <!--<a class="next-ajax-link-page" data-centerline="GO TO" href="{{ page.nextprojectpermalink }}">
                        <div class="next-hero-title caption-timeline" data-infotextbefore="Projet Suivant" data-infotextafter="">{{ page.nextprojecttitle }}</div>
                    </a>-->
                    <div class="post-nav">
                        <div class="post-nav-next">
                            {% if page.next.url %}
                            <a class="next-ajax-link-page" href="{{page.next.url}}"><div class="next-hero-title caption-timeline" data-infotextbefore="Projet Suivant" data-infotextafter="">{{page.next.title}}</div></a>
                            {% else %}
                            <a class="next-ajax-link-page" href="{{ site.posts.last.url }}"><div class="next-hero-title caption-timeline" data-infotextbefore="Projet Suivant" data-infotextafter="">{{ site.posts.last.title }}</div></a>
                            {% endif %}
                        </div>
                    </div>                     
                </div>               
            </div>
        </div>
    </div>      
    <!--/Page Navigation -->
</div>
<!--/Main Content -->